div.large-width.row
  ul.menu.col.quarter
    h4 Nav

    li
      a(href='/') Home

    if session && session.whoami
      li
        a(href='/account') Account
      li
        a(href='/sign-out') Sign Out
    else
      li
        a(href='/sign-in') Sign In
      li
        a(href='/sign-up') Sign Up

  ul.menu.col.quarter
    h4 Support
    li
      a(href='/') Issue
    li
      a(href='/') Billing
    li
      a(href='/') FAQs

  ul.menu.col.quarter
    h4 Social
    li
      a(href='/') Facebook
    li
      a(href='/') Insta

  form.col.quarter
    h4 Search Site
    input(type='text' name='keys')
    input(type='submit' value='Search')

div.large-width.row
  div.half
    span © #{ORG_NAME} #{(new Date()).getFullYear()}
  script document.querySelector('html').classList.replace('no-js', 'js');
