extends ../layout/page.pug

block content

  div.ui-frame.med-width

    h1 Page Not Found

    p.
      The page you are looking for couldn't be found. The page
      you are looking for has either been removed or has a new address.
      If you are sure this is the right URL, contact our team for further
      assistance.

    include ./support.pug
