extends ../layout/page.pug

block content

  div.ui-frame.med-width

    h1 My Account

    include ./subnav

    div.ui-frame

      label
        strong Email:

      span=result.email

      if result.hasAccount

        label
          strong='Service - ' + result.serviceLabel

        p=result.serviceDescription

      if !result.isEmailVerified
        p.
          Your email at #{result.email} has not been verified. Visit the link
          that was sent to this e-mail address to complete verification.
