div.large-width.row.spaced

  +menu('footer', null, { class: 'col quarter', level: 'h3' })

div.large-width.row
  div.half
    span © #{ORG_NAME} #{(new Date()).getFullYear()}
  script document.querySelector('html').classList.replace('no-js', 'js');
