nav
  a.logo(href="/")
    img(title=APP_ORG_NAME alt=APP_ORG_NAME src="/image/logos/logo.png")
  if session && session.whoami
    - const { username } = session.whoami;
    span #{username}
    br
    +menu('signedInTop', null, {
      inline: true,
      resourceMap: {
        'get:account': session.whoami,
      },
    })
  else
    +menu('anonymousTop', null, { inline: true })
