extends ../email

block title
  h1 Your Password Reset Request

block content

  -const resetURL = `${APP_URL}/password-reset/${result.token}`;

  p.
    You have recently requested a password reset for your #{APP_ORG_NAME}
    account. To complete the password reset, visit the link below by:

  ul
    li clicking the link below
    li copying the link URL and pasting it into your browser

  p
    a(href=resetURL)=resetURL

  p Once you have reset your password, sign in with the newly set password.

  p.
    If this was not you who requested a password reset,
    please contact support so we can look further into the issue.
